/* Font Style via Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');


/*Background Settings & Font Settings for the main page*/
:root {
    background-color: #000;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family: 'Nova Square', cursive;
}

/*Text Design*/

h1 {
font-size: 5.4rem;
color: #ffffff;
margin-bottom: 5rem;
}

h2 {
    font-size: 4.2rem;
    margin-bottom: 4rem;
}

/*Content Configuration using Flexbox*/

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

.hidden {
    display: none;
}

/* Buttons Configuration: In the still mode & when hovering the cursor on top of it */
.btn {
    font-size: 2.4rem;
    padding: 2rem 0;
    width: 30rem;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
    color: #000;
    background-color: #DD1155;
}

.highscore-btn {
    font-size: 2.4rem;
    padding: 2rem 0;
    width: 30rem;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
    color: #000;
    background-color: #00CC99;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4 0 #C7EF00;
    transition: transform 150ms;
    transform: scale(1.03);
}

.highscore-btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4 0 #ddec90fd;
    transition: transform 150ms;
    transform: scale(1.03);
}

.btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}

/*Icons Elements*/

.fa-crown {
    font-size: 2.5rem;
    margin-left: 1rem;
}

.fa-gamepad {
    font-size: 2.5rem;
    margin-left: 1rem;
}

